<!DOCTYPE html>

{% extends 'members/Main.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>PDF Example</h1>

<!--src="{% static '/media/news_pdf/Appraisal.pdf' %}"    is working -->
{% for i in data %}
{{i}}<br>


<!--<embed
    src="{{i.news_pdf.url}}"
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed><br>-->

<embed src="{{i.news_pdf.url}}"
       type="application/pdf" width="100%" height="100%" />

<iframe
    src="{{i.news_pdf.url}}"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
    allow="fullscreen"
></iframe>


{{i.news_pdf.url}}<br>
{% endfor %}

{% endblock content %}
</body>
</html>


